{% extends "layout.twig" %}
{% block content %}
<!--Formulario de registro de usuerio-->
    <div class="container">

        {% if responseMessage %}
                <div class="alert alert-danger" role="alert" style=''>
                    {{ responseMessage }}
                </div>
            {% endif %}

        <h3>Registrar Usuario</h3>
        <form action='/user/add' autocomplete="off" method='POST'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="userNombre">Nombre</label>
                    <input type="text" class="form-control" id="userNombre"name='userNombre' placeholder="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="userApellido">Apellidos</label>
                    <input type="text" class="form-control" id="userApellido" name='userApellido' placeholder="Apellidos">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="userCedula"># Cédula</label>
                    <input type="text" class="form-control" id="userCedula" name='userCedula' placeholder="Cédula">
                </div>
                <div class="form-group col-md-6">
                    <label for="userTelefono"># Teléfono/Celular</label>
                    <input type="tel" class="form-control" id="userTelefono" name='userTelefono' placeholder="Teléfono o celular">
                </div>
            </div>
            <div class="form-group">
                <label for="userCorreo">Correo Electrónico</label>
                <input type="email" class="form-control" id="userCorreo" name='userCorreo' placeholder="Correo electrónico">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="userContrasenia">Contraseña</label>
                    <input type="password" class="form-control" id="userContrasenia" name='userContrasenia' placeholder="Contraseña" autocomplete="new-password">
                </div>
                <div class="form-group col-md-6">
                    <label for="userContraseniaConfirm">Confirmar contrasenia</label>
                    <input type="password" class="form-control" id="userContraseniaConfirm" placeholder="Confirma contraseña">
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Registrar</button>
        </form>
    </div>
    <!--/Formulario de registro de usuerio-->
{% endblock %}