{% extends "layout.twig" %}
{% block styleAdmin %}<link rel="stylesheet" href="../../assets/css/styles-admin.css">{% endblock %}
{% block imgAdmin %}<img src="../../assets/img/userlogo.png" alt="">{% endblock %}
{% block content %}
<!--Formulario de actualización de usuario-->
    <div class="container">

        {% if responseMessage %}
                <div class="alert alert-danger" role="alert" style=''>
                    {{ responseMessage }}
                </div>
            {% endif %}

        <h3>Cambiar Contraseña</h3>
        <form action='/user/changePass/{{userUpdate.userId}}' autocomplete="off" method='POST'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="userContrasenia">Contraseña</label>
                    <input type="password" class="form-control" id="userContrasenia" name='userContrasenia' placeholder="Contraseña" autocomplete="new-password">
                </div>
                <div class="form-group col-md-6">
                    <label for="userContraseniaConfirm">Confirmar contrasenia</label>
                    <input type="password" class="form-control" id="userContraseniaConfirm" name='userContraseniaConfirm' placeholder="Confirma contraseña">
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Cambiar</button>
        </form>
    </div>
    <!--/Formulario de actualización de usuario-->
{% endblock %}
{% block javaScriptAdmin %}<script src="../../assets/js/sidebar.js"></script>{% endblock %}