<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Etiquetas meta requeridos -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles-access.css">

    <title>Login</title>
</head>
<body>
    

    <div id="login">
        <div class="container text-center mt-2">
            <h1>Login</h1>
            {% if responseMessage %}
                <div class="alert alert-danger" role="alert" style=''>
                    {{ responseMessage }}
                </div>
            {% endif %}
            
             
            <div class="row">
                <form action='/auth' method='POST'>
                    <div class="form-group">
                      <label for="email" >Correo Electrónico</label>
                      <input type="email" class="form-control" id="email" name='userEmail' aria-describedby="emailHelp" placeholder="Ingrese su correo">
                      <label for="pass" >Contraseña</label>
                      <input type="password" class="form-control" id="pass" name='userPass' placeholder="Ingrese su contaseña">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                  </form>
            </div>
            <p class="mb-5 mt-3 text-muted">Design and Built by @JosueOb</p>
        </div>
    </div>


</body>
</html>